body {
    padding-top: 2rem;
}
header {
    background-color: #ecbd16;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;
    display: flex;
}
nav {
    margin: 0.5rem;
}
header * {
    display: inline;
}
header li {
    margin: 1rem;
}
header li a {
    color: #ffffff;
    text-decoration: none;
}
